@import 'partials/color';

.landing {
  text-align: center;
  >div {
    display: inline-block;
    margin: 20px;
    vertical-align: bottom;
  }
}

.levels {
  >div {
    padding: 10px;
  }
  >div:hover {
    cursor: pointer;
    background: $off-yellowish;
  }
}

.card {
  width: 500px;
  height: 300px;
  background: $superlight-blue;
  border: 2px solid $orange-shade;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  input {
    font-size: 30px;
    background: $off-white;
  }
}

.correct {
  color: green;
}
.wrong {
  color: red;
}

.show-cb {
  padding: 10px;
  vertical-align: baseline;
}

.question {
  font-size: 30px;
}


.active {
  background: $yelloish-green;
  display: block;
  border: 2px solid $orange-shade;
}

.info {
  div {
    padding: 10px;
    width: 480px;
    margin-bottom: 10px;
  }
}

.outer-score-div {
  border: 2px solid $yelloish-green;
  background: $superlight-blue;
  border-radius: 3px;
  margin-top: 10px;
}



.sign-log-div {
  @extend .card;
  font-size: 20px;
  text-align: center;
  margin: 20px auto;
  input {
    font-size: 20px;
    width: 400px;
    display: block;
    margin: 5px;
  }
}
