<h1>Log In</h1>
<br>
<form>
  <input type="text" name="user[email]" placeholder="Email">
  <input type="password" name="user[password]" placeholder="Password">
  <br>
  <button>Log me in!</button>
</form>
<br>
<button class="guest">Log in as guest</button>
