<h1>Sign Up</h1>
<br>
<form>
    <input type="text" name="user[email]" placeholder="Email">
    <input type="text" name="user[email_confirmation]" placeholder="Re-enter email">
    <br>
    <input type="password" name="user[password]" placeholder="Password">
    <input type="password" name="user[password_confirmation]" placeholder="Re-enter password">
    <br>
    <button>Sign me up!</button>
</form>
