@import 'partials/color';

#header {
  border-bottom: 3px solid $yelloish-green; //$off-yellowish;//$orange-shade;
  //$yelloish-green;
  background: $superlight-blue;//$light-blue;//$dark-blue;
  a {
    padding: 10px;
    display: inline-block;
  }
}
