<div class="levels">
  <div data-level=0 >Level 0</div>
  <div data-level=1 >Level 1</div>
  <div data-level=2 >Level 2</div>
  <div data-level=3 >Level 3</div>
  <div data-level=4 >Level 4</div>
  <div data-level=5 >Level 5</div>
  <div data-level=6 >Level 6</div>
  <div data-level=7 >Level 7</div>
  <div data-level=8 >Level 8</div>
</div>
Show Question <input type="checkbox" class="showText">

<div class="card">

</div>
