<h1>Welcome to Mental Math!</h1>
<p>
  This app was built with the intention of helping you test your mental math chops.
</p>

<br>

<h1>Quick Start</h1>
<p>
  You can simply play the game by clicking <a href="#playGame">here</a> or the Play button near the top left of this page.
  Feel free to switch levels whenever you want.
  If only relying on a vocalized question is too tough, you can always check the show question checkbox to show the question.
</p>

<br>

<h1>About this Game</h1>
<p>
  The game is split up into 9 levels, each testing a different type of arithmetic problem.
  By default, a voice will read out the problem to solve, and you should type in your answer into the input box and press enter to submit.
  Answer correctly, and you'll be given a new question.
  Answer incorrectly, and the question will be repeated. Make submissions until you get it right, or click on the level again to get a new question.
</p>
