<div>

<div class="levels">
  <div data-level=0 >Level 0</div>
  <div data-level=1 >Level 1</div>
  <div data-level=2 >Level 2</div>
  <div data-level=3 >Level 3</div>
  <div data-level=4 >Level 4</div>
  <div data-level=5 >Level 5</div>
  <div data-level=6 >Level 6</div>
  <div data-level=7 >Level 7</div>
  <div data-level=8 >Level 8</div>
</div>
<div class="show-cb">
  Show Question <input type="checkbox" class="showText">
</div>

</div>


<div>
<div class="info">
  <div data-level=0 hidden>Multiply by 11</div>
  <div data-level=1 hidden>Two-Digit Addition</div>
  <div data-level=2 hidden>Three-Digit Addition</div>
  <div data-level=3 hidden>Two-Digit Subtraction</div>
  <div data-level=4 hidden>Three-Digit Subtraction</div>
  <div data-level=5 hidden>2x1 Multiplication</div>
  <div data-level=6 hidden>3x1 Multiplication</div>
  <div data-level=7 hidden>Two-Digit Squares</div>
  <div data-level=8 hidden>2x2 Multiplication</div>
</div>
<div class="card"></div>
<div class="outer-score-div">
  Score<div class="score"></div>
</div>
</div>
