<div class="levels">
  <div>Level 0</div>
  <div>Level 1</div>
  <div>Level 2</div>
  <div>Level 3</div>
  <div>Level 4</div>
  <div>Level 5</div>
  <div>Level 6</div>
  <div>Level 7</div>
  <div>Level 8</div>
</div>
Show Question<input type="checkbox" class="showText">

<div class="card">

</div>
