$dark-blue: #112C63;
$light-blue: #739AB3;
//$lighter-blue: #8CAAC6;
$superlight-blue: #C7D8E8;
//$lightest-blue: #CDDFF3;
$orange-shade: #D66529;
$off-white: #FCF6EC;
$yelloish-green: #BED358;
$off-yellowish: #F0E162;
