<div id="spider-chart">

</div>
<div id="level-chart0" class="level-chart">

</div>
<div id="level-chart1" class="level-chart">

</div>
<div id="level-chart2" class="level-chart">

</div>
<div id="level-chart3" class="level-chart">

</div>
<div id="level-chart4" class="level-chart">

</div>
<div id="level-chart5" class="level-chart">

</div>
<div id="level-chart6" class="level-chart">

</div>
<div id="level-chart7" class="level-chart">

</div>
<div id="level-chart8" class="level-chart">

</div>
